
*.pyc
*.pyc
djangoServerSide/djangoServerSide/__pycache__/__init__.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/settings.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/urls.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/wsgi.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/__init__.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/urls.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/views.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/__init__.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/settings.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/urls.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/wsgi.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/__init__.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/urls.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/views.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/__init__.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/settings.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/urls.cpython-36.pyc
djangoServerSide/djangoServerSide/__pycache__/wsgi.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/__init__.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/urls.cpython-36.pyc
djangoServerSide/getinfo/__pycache__/views.cpython-36.pyc
